@keyframes ldio-e2cemy3i7rc {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.37, 0.37);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-e2cemy3i7rc div > div {
  position: absolute;
  width: 18.84px;
  height: 18.84px;
  border-radius: 50%;
  background: #00875f;
  animation: ldio-e2cemy3i7rc 0.8928571428571428s linear infinite;
}
.ldio-e2cemy3i7rc div:nth-child(1) > div {
  left: 195px;
  top: 148px;
  animation-delay: -0.8522727272727273s;
}
.ldio-e2cemy3i7rc > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 204.42000000000002px 157.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(2) > div {
  left: 193px;
  top: 161px;
  animation-delay: -0.8116883116883117s;
}
.ldio-e2cemy3i7rc > div:nth-child(2) {
  transform: rotate(16.363636363636363deg);
  transform-origin: 202.42000000000002px 170.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(3) > div {
  left: 187px;
  top: 173px;
  animation-delay: -0.7711038961038961s;
}
.ldio-e2cemy3i7rc > div:nth-child(3) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 196.42000000000002px 182.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(4) > div {
  left: 178px;
  top: 183px;
  animation-delay: -0.7305194805194805s;
}
.ldio-e2cemy3i7rc > div:nth-child(4) {
  transform: rotate(49.09090909090909deg);
  transform-origin: 187.42000000000002px 192.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(5) > div {
  left: 167px;
  top: 190px;
  animation-delay: -0.689935064935065s;
}
.ldio-e2cemy3i7rc > div:nth-child(5) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 176.42000000000002px 199.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(6) > div {
  left: 154px;
  top: 194px;
  animation-delay: -0.6493506493506493s;
}
.ldio-e2cemy3i7rc > div:nth-child(6) {
  transform: rotate(81.81818181818181deg);
  transform-origin: 163.42000000000002px 203.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(7) > div {
  left: 141px;
  top: 194px;
  animation-delay: -0.6087662337662337s;
}
.ldio-e2cemy3i7rc > div:nth-child(7) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 150.42000000000002px 203.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(8) > div {
  left: 128px;
  top: 190px;
  animation-delay: -0.5681818181818181s;
}
.ldio-e2cemy3i7rc > div:nth-child(8) {
  transform: rotate(114.54545454545455deg);
  transform-origin: 137.42000000000002px 199.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(9) > div {
  left: 117px;
  top: 183px;
  animation-delay: -0.5275974025974026s;
}
.ldio-e2cemy3i7rc > div:nth-child(9) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 126.42000000000002px 192.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(10) > div {
  left: 108px;
  top: 173px;
  animation-delay: -0.487012987012987s;
}
.ldio-e2cemy3i7rc > div:nth-child(10) {
  transform: rotate(147.27272727272728deg);
  transform-origin: 117.42000000000002px 182.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(11) > div {
  left: 102px;
  top: 161px;
  animation-delay: -0.4464285714285714s;
}
.ldio-e2cemy3i7rc > div:nth-child(11) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 111.42000000000002px 170.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(12) > div {
  left: 100px;
  top: 148px;
  animation-delay: -0.40584415584415584s;
}
.ldio-e2cemy3i7rc > div:nth-child(12) {
  transform: rotate(180deg);
  transform-origin: 109.42000000000002px 157.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(13) > div {
  left: 102px;
  top: 134px;
  animation-delay: -0.36525974025974023s;
}
.ldio-e2cemy3i7rc > div:nth-child(13) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 111.42000000000002px 143.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(14) > div {
  left: 108px;
  top: 122px;
  animation-delay: -0.3246753246753247s;
}
.ldio-e2cemy3i7rc > div:nth-child(14) {
  transform: rotate(212.72727272727272deg);
  transform-origin: 117.42000000000002px 131.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(15) > div {
  left: 117px;
  top: 112px;
  animation-delay: -0.28409090909090906s;
}
.ldio-e2cemy3i7rc > div:nth-child(15) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 126.42000000000002px 121.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(16) > div {
  left: 128px;
  top: 105px;
  animation-delay: -0.2435064935064935s;
}
.ldio-e2cemy3i7rc > div:nth-child(16) {
  transform: rotate(245.45454545454547deg);
  transform-origin: 137.42000000000002px 114.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(17) > div {
  left: 141px;
  top: 101px;
  animation-delay: -0.20292207792207792s;
}
.ldio-e2cemy3i7rc > div:nth-child(17) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 150.42000000000002px 110.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(18) > div {
  left: 154px;
  top: 101px;
  animation-delay: -0.16233766233766234s;
}
.ldio-e2cemy3i7rc > div:nth-child(18) {
  transform: rotate(278.1818181818182deg);
  transform-origin: 163.42000000000002px 110.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(19) > div {
  left: 167px;
  top: 105px;
  animation-delay: -0.12175324675324675s;
}
.ldio-e2cemy3i7rc > div:nth-child(19) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 176.42000000000002px 114.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(20) > div {
  left: 178px;
  top: 112px;
  animation-delay: -0.08116883116883117s;
}
.ldio-e2cemy3i7rc > div:nth-child(20) {
  transform: rotate(310.90909090909093deg);
  transform-origin: 187.42000000000002px 121.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(21) > div {
  left: 187px;
  top: 122px;
  animation-delay: -0.040584415584415584s;
}
.ldio-e2cemy3i7rc > div:nth-child(21) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 196.42000000000002px 131.42000000000002px;
}
.ldio-e2cemy3i7rc div:nth-child(22) > div {
  left: 193px;
  top: 134px;
  animation-delay: 0s;
}
.ldio-e2cemy3i7rc > div:nth-child(22) {
  transform: rotate(343.6363636363636deg);
  transform-origin: 202.42000000000002px 143.42000000000002px;
}
.loadingio-spinner-spin-jz7edw10g1 {
  width: 314px;
  height: 314px;
  display: inline-block;
  overflow: hidden;
  z-index: 99999;
  margin: 0 auto;
  position: absolute;
  left: 41%;
  border-radius: 50%;
}
.ldio-e2cemy3i7rc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-e2cemy3i7rc div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
